/* 
Button
*/

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15%;
  color: white;
  border: none;
  cursor: pointer;
}
.button-confirm {
  background-color: blue;
}
.button-cancel {
  background-color: red;
}

.button-confirm:hover {
  background-color: darkblue;
}
.button-cancel:hover {
  background-color: darkred;
}

/* 
Table
*/
.table-container {
  min-width: 100%;
  overflow-y: scroll;
}

table {
  min-width: 100%;
}

thead {
  min-width: 100%;
  background-color: gray;
  color: white;
  position: sticky;
  top: 0;
}

thead tr th {
  padding: 10px 2px;
  text-align: center;
  white-space: nowrap;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: gray;
  color: white;
}
