button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15%;
  color: white;
  border: none;
  cursor: pointer;
}
.button-confirm {
  background-color: blue;
}
.button-cancel {
  background-color: red;
}

.button-confirm:hover {
  background-color: darkblue;
}
.button-cancel:hover {
  background-color: darkred;
}
